.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-24 {
  gap: 6rem;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.basis-sm {
  flex-basis: var(--container-sm);
}

.basis-md {
  flex-basis: var(--container-md);
}

.basis-lg {
  flex-basis: var(--container-lg);
}

.basis-xl {
  flex-basis: var(--container-xl);
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

@media (min-width: 24rem) {
  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:gap-2 {
    gap: 0.5rem;
  }

  .sm\:gap-4 {
    gap: 1rem;
  }

  .sm\:gap-8 {
    gap: 2rem;
  }

  .sm\:gap-12 {
    gap: 3rem;
  }

  .sm\:gap-24 {
    gap: 6rem;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:flex-col {
    flex-direction: column;
  }

  .sm\:flex-wrap {
    flex-wrap: wrap;
  }

  .sm\:flex-1 {
    flex: 1;
  }

  .sm\:flex-2 {
    flex: 2;
  }

  .sm\:flex-3 {
    flex: 3;
  }

  .sm\:basis-sm {
    flex-basis: var(--container-sm);
  }

  .sm\:basis-md {
    flex-basis: var(--container-md);
  }

  .sm\:basis-lg {
    flex-basis: var(--container-lg);
  }

  .sm\:basis-xl {
    flex-basis: var(--container-xl);
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:justify-end {
    justify-content: flex-end;
  }

  .sm\:justify-around {
    justify-content: space-around;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:items-start {
    align-items: flex-start;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:items-end {
    align-items: flex-end;
  }

  .sm\:items-baseline {
    align-items: baseline;
  }
}

@media (min-width: 48rem) {
  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:gap-2 {
    gap: 0.5rem;
  }

  .md\:gap-4 {
    gap: 1rem;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:gap-12 {
    gap: 3rem;
  }

  .md\:gap-24 {
    gap: 6rem;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-col {
    flex-direction: column;
  }

  .md\:flex-wrap {
    flex-wrap: wrap;
  }

  .md\:flex-1 {
    flex: 1;
  }

  .md\:flex-2 {
    flex: 2;
  }

  .md\:flex-3 {
    flex: 3;
  }

  .md\:basis-sm {
    flex-basis: var(--container-sm);
  }

  .md\:basis-md {
    flex-basis: var(--container-md);
  }

  .md\:basis-lg {
    flex-basis: var(--container-lg);
  }

  .md\:basis-xl {
    flex-basis: var(--container-xl);
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:justify-around {
    justify-content: space-around;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:items-end {
    align-items: flex-end;
  }

  .md\:items-baseline {
    align-items: baseline;
  }
}

@media (min-width: 64rem) {
  .lg\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:gap-2 {
    gap: 0.5rem;
  }

  .lg\:gap-4 {
    gap: 1rem;
  }

  .lg\:gap-8 {
    gap: 2rem;
  }

  .lg\:gap-12 {
    gap: 3rem;
  }

  .lg\:gap-24 {
    gap: 6rem;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-col {
    flex-direction: column;
  }

  .lg\:flex-wrap {
    flex-wrap: wrap;
  }

  .lg\:flex-1 {
    flex: 1;
  }

  .lg\:flex-2 {
    flex: 2;
  }

  .lg\:flex-3 {
    flex: 3;
  }

  .lg\:basis-sm {
    flex-basis: var(--container-sm);
  }

  .lg\:basis-md {
    flex-basis: var(--container-md);
  }

  .lg\:basis-lg {
    flex-basis: var(--container-lg);
  }

  .lg\:basis-xl {
    flex-basis: var(--container-xl);
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:justify-around {
    justify-content: space-around;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:items-end {
    align-items: flex-end;
  }

  .lg\:items-baseline {
    align-items: baseline;
  }
}

@media (min-width: 80rem) {
  .xl\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xl\:gap-2 {
    gap: 0.5rem;
  }

  .xl\:gap-4 {
    gap: 1rem;
  }

  .xl\:gap-8 {
    gap: 2rem;
  }

  .xl\:gap-12 {
    gap: 3rem;
  }

  .xl\:gap-24 {
    gap: 6rem;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:flex-col {
    flex-direction: column;
  }

  .xl\:flex-wrap {
    flex-wrap: wrap;
  }

  .xl\:flex-1 {
    flex: 1;
  }

  .xl\:flex-2 {
    flex: 2;
  }

  .xl\:flex-3 {
    flex: 3;
  }

  .xl\:basis-sm {
    flex-basis: var(--container-sm);
  }

  .xl\:basis-md {
    flex-basis: var(--container-md);
  }

  .xl\:basis-lg {
    flex-basis: var(--container-lg);
  }

  .xl\:basis-xl {
    flex-basis: var(--container-xl);
  }

  .xl\:justify-start {
    justify-content: flex-start;
  }

  .xl\:justify-center {
    justify-content: center;
  }

  .xl\:justify-end {
    justify-content: flex-end;
  }

  .xl\:justify-around {
    justify-content: space-around;
  }

  .xl\:justify-between {
    justify-content: space-between;
  }

  .xl\:items-start {
    align-items: flex-start;
  }

  .xl\:items-center {
    align-items: center;
  }

  .xl\:items-end {
    align-items: flex-end;
  }

  .xl\:items-baseline {
    align-items: baseline;
  }
}
