.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

@media (min-width: 24rem) {
  .sm\:inline {
    display: inline;
  }

  .sm\:block {
    display: block;
  }

  .sm\:inline-block {
    display: inline-block;
  }

  .sm\:grid {
    display: grid;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:hidden {
    display: none;
  }
}

@media (min-width: 48rem) {
  .md\:inline {
    display: inline;
  }

  .md\:block {
    display: block;
  }

  .md\:inline-block {
    display: inline-block;
  }

  .md\:grid {
    display: grid;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }
}

@media (min-width: 64rem) {
  .lg\:inline {
    display: inline;
  }

  .lg\:block {
    display: block;
  }

  .lg\:inline-block {
    display: inline-block;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }
}

@media (min-width: 80rem) {
  .xl\:inline {
    display: inline;
  }

  .xl\:block {
    display: block;
  }

  .xl\:inline-block {
    display: inline-block;
  }

  .xl\:grid {
    display: grid;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:hidden {
    display: none;
  }
}
