.font-sans {
  font-family: var(--sans);
}

.font-serif {
  font-family: var(--serif);
}

.font-greek {
  font-family: var(--greek);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.leading-none {
  line-height: 1;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.small-caps {
  font-variant: small-caps;

  &.font-serif {
    font-variant: normal;
    font-family: var(--serif-sc);
  }
}

.underline {
  text-decoration: underline;
}

.hover\:underline:hover {
  text-decoration: underline;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2rem;
}

.text-primary {
  color: var(--primary);
}

.text-blue {
  color: var(--blue);
}

.text-red {
  color: var(--red);
}

.text-white {
  color: var(--white);
}

.text-beige {
  color: var(--beige);
}

.text-lightgray {
  color: var(--lightgray);
}

.text-mediumgray {
  color: var(--mediumgray);
}

.text-gray {
  color: var(--gray);
}

.text-darkgray {
  color: var(--darkgray);
}

.text-black {
  color: var(--black);
}

.text-transblack {
  color: var(--transblack);
}

.hover\:text-primary:hover {
  color: var(--primary);
}

.hover\:text-blue:hover {
  color: var(--blue);
}

.hover\:text-red:hover {
  color: var(--red);
}

@media (min-width: 24rem) {
  .sm\:text-left {
    text-align: left;
  }

  .sm\:text-center {
    text-align: center;
  }

  .sm\:text-right {
    text-align: right;
  }

  .sm\:text-sm {
    font-size: 0.875rem;
  }

  .sm\:text-base {
    font-size: 1rem;
  }

  .sm\:text-lg {
    font-size: 1.125rem;
  }

  .sm\:text-xl {
    font-size: 1.25rem;
  }

  .sm\:text-2xl {
    font-size: 1.5rem;
  }

  .sm\:text-3xl {
    font-size: 1.875rem;
  }

  .sm\:text-4xl {
    font-size: 2rem;
  }
}

@media (min-width: 48rem) {
  .md\:text-left {
    text-align: left;
  }

  .md\:text-center {
    text-align: center;
  }

  .md\:text-right {
    text-align: right;
  }

  .md\:text-sm {
    font-size: 0.875rem;
  }

  .md\:text-base {
    font-size: 1rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
  }

  .md\:text-xl {
    font-size: 1.25rem;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
  }

  .md\:text-4xl {
    font-size: 2rem;
  }
}

@media (min-width: 64rem) {
  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-center {
    text-align: center;
  }

  .lg\:text-right {
    text-align: right;
  }

  .lg\:text-sm {
    font-size: 0.875rem;
  }

  .lg\:text-base {
    font-size: 1rem;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
  }

  .lg\:text-xl {
    font-size: 1.25rem;
  }

  .lg:\:text-2xl {
    font-size: 1.5rem;
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
  }

  .lg\:text-4xl {
    font-size: 2rem;
  }
}

@media (min-width: 80rem) {
  .xl\:text-left {
    text-align: left;
  }

  .xl\:text-center {
    text-align: center;
  }

  .xl\:text-right {
    text-align: right;
  }

  .xl\:text-sm {
    font-size: 0.875rem;
  }

  .xl\:text-base {
    font-size: 1rem;
  }

  .xl\:text-lg {
    font-size: 1.125rem;
  }

  .xl\:text-xl {
    font-size: 1.25rem;
  }

  .xl\:text-2xl {
    font-size: 1.5rem;
  }

  .xl\:text-3xl {
    font-size: 1.875rem;
  }

  .xl\:text-4xl {
    font-size: 2rem;
  }
}
