.search-results {
  display: grid;
  grid-gap: 1em;

  h3 {
    display: flex;
    justify-content: space-between;
  }

  .feedback {
    display: grid;
    grid-gap: 0.5em;
    background-color: var(--beige);
    padding: 1em;
  }
}
