.footer {
  background: var(--black);
  color: var(--white);

  .container {
    display: grid;
    gap: 1rem;
    padding: 3rem 1rem 1rem;

    p {
      flex-basis: 38rem;
    }

    .links {
      display: grid;
    }

    a {
      color: var(--beige);
    }
  }
}

@media (min-width: 59rem) {
  .footer {
    .container {
      display: flex;
      justify-content: space-between;
      padding: 6rem 2rem 3rem;
    }
  }
}
