.table-of-contents {
  display: grid;
  grid-gap: 0.25em;
  margin-left: -0.25em;
  margin-right: -0.25em;

  a {
    padding: 0.25em 0.5em;

    &:hover {
      text-decoration: none;
      background-color: var(--blue);
      color: var(--white);
    }
  }

  span {
    padding: 0.25em 0.5em;
    color: var(--darkgray);
  }
}
