.blocks {
  .block {
    padding-top: 3em;
    margin: -3em 0 1em;

    .id {
      color: var(--blue);
      text-align: right;
      margin-bottom: 0.5em;
    }

    .content {
      font-family: var(--old);
      font-size: 1.375em;
      text-align: justify;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: normal;
        text-align: center;
        line-height: 1.25;
      }

      .page-break {
        display: none;
      }

      strong {
        font-family: var(--oldSC);
        font-weight: normal;
      }

      em {
        font-style: italic;
      }

      .aside {
        float: right;
        background: var(--beige);
        font-size: 0.875em;
        line-height: 1.6;
        text-align: right;
        padding: 0 0.25em;
        margin-left: 1em;
        max-width: 10em;
      }

      del {
        display: none;
      }

      ins {
        text-decoration: none;
      }
    }
  }
}
