.search {
  display: grid;
  grid-gap: 1em;

  form {
    display: grid;
    grid-gap: 0.5em;

    .search-query {
      display: grid;
      grid-gap: 0.5em;
    }

    .search-options {
      display: grid;
      grid-gap: 0.5em;
    }

    .search-error {
      background-color: var(--beige);
      padding: 0.5em;
    }
  }
}

@media (min-width: 36rem) {
  .search {
    form {
      .search-query {
        display: flex;
        gap: 0.5em;

        input:first-child {
          flex: 2;
        }

        input:second-child {
          flex: 1;
        }
      }

      .search-options {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
