* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  line-height: inherit;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: var(--sans);
  font-size: 16px;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
