@import "../../style/css/fonts.css";
@import "../../style/css/variables.css";
@import "../../style/css/reset.css";
@import "../../style/css/utilities.css";

:root {
  --primary: var(--red);
}

ins {
  background-color: aquamarine;
}

del {
  text-decoration: line-through;
  background-color: lightcoral;
}
