.main-header {
  background: var(--blue);
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;

  hgroup {
    display: grid;
    grid-gap: 0.5rem;
    font-family: var(--old);
    color: var(--white);
    line-height: 1;
    text-align: center;

    h1,
    h2 {
      font-weight: normal;
    }

    h2 {
      font-style: italic;
    }
  }

  nav {
    display: flex;
    gap: 0.5em;
    justify-content: center;

    a {
      font-size: 1.125rem;
      font-weight: 600;
      color: var(--white);
      padding: 0.25em 0.5em;
      border-bottom: 3px solid transparent;
      transition: 0.3s;
    }

    a:hover,
    a.active {
      border-color: var(--beige);
      text-decoration: none;
    }
  }
}

@media (min-width: 59rem) {
  .main-header {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: flex-end;

    hgroup {
      text-align: left;
    }

    nav {
      justify-content: flex-end;
    }
  }
}
