html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--sans);
  line-height: 1.5;
  background: var(--white);
  color: var(--black);

  > .main-header {
    grid-row: 1;
  }

  > .library-controls,
  > .breadcrumb,
  > .sub-header {
    grid-row: 2;
  }

  .main {
    grid-row: 3;
  }

  .footer {
    grid-row: 4;
  }
}
